*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: brown;
}
.index-nav,
.about-nav,
.contact-us-nav{
    background-color: orange;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    gap: 18px;
   
    /* padding: 20px; */
    font-weight: bold;
}
nav a{
    text-decoration: none;
    font-size: 18px;
    height: auto;
    padding: 18px;
}
nav a:hover{
    background-color: antiquewhite;
    transition: .5s all ease;
    
}
.gup{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    width: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 15px;
}
ol {
    list-style: none;
}
ol li{
    display: inline;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #ff6347;
}
section{
    margin: 15px;
    text-align: center;
}
.molly{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

